html {
    scroll-behavior: smooth;
  }

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 0 10%;
}

main {
    margin: 60px 10% 0 10%;
}
